* {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    color: white    ;
}
body {
    background-color: #273746;
    padding: 60px;
}
input {
    background-color: ivory;
    border-color: #273746;
    color: grey;
    font-size: 1.3rem;
    width: 100%;
}

.card {
    max-height: fit-content;
    align-content: center;
    border: 1px solid black;
    border-radius: 6px;
    margin-bottom: 10px;
    margin-right: 10px;
    overflow: hidden;
}
.card p {
    font-size: small;
    padding: 5px ;
    text-align: 170px;
}
.card img {
    max-height: 200px;
    max-width: 100%;
}
.card-grid {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}